<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SM_SumUp::blog" title="SumUP" module="SM_SumUp" sortOrder="110" resource="SM_SumUp::blog" parent="Magento_Backend::content"/>
        <add id="SM_SumUp::post" title="Manage Posts" module="SM_SumUp" sortOrder="10" action="sumup/post" resource="SM_SumUp::post" parent="SM_SumUp::blog"/>
        <add id="SM_SumUp::tag" title="Manage Tags" module="SM_SumUp" sortOrder="20" action="sumup/tag" resource="SM_SumUp::tag" parent="SM_SumUp::blog"/>
        <add id="SM_SumUp::category" title="Categories" module="SM_SumUp" sortOrder="40" action="sumup/category" resource="SM_SumUp::category" parent="SM_SumUp::blog"/>
        <add id="SM_SumUp::author" title="Manage Authors" module="SM_SumUp" sortOrder="50" action="sumup/author" resource="SM_SumUp::author" parent="SM_SumUp::blog"/>
    </menu>
</config>
